$nav-color: #9ba9be !default;
$nav-color-hover: #fff !default;
$nav-color-active: #fff !default;

$nav-bgcolor: #283c59 !default;
$nav-bgcolor-hover: #395780 !default;
$nav-bgcolor-active: #3784ff !default;

$nav-item-bgcolor: #16253e !default;
$nav-item-bgcolor-hover: #1f3353 !default;

$nav-item-color-active:  #3784ff !default;

$header-bgcolor: #16253e !default;
$header-bgcolor-hover: #121e32 !default;